In [17]:
import pandas as pd

path = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 4\project_2\data\raw data\New_data_2019.csv"

path3 = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 4\project_2\data\raw data\New_data_2015.csv"

happydata_2019 = pd.read_csv(path)

happydata_2015 = pd.read_csv(path3)

In [20]:
happydata_2019.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,perception_of_corruption,generosity
0,0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [19]:
happydata_2015.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,perception_of_corruption,generosity,region,standard_error,dystopia_residual
0,0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,Western Europe,0.03411,2.51738
1,1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,Western Europe,0.04884,2.70201
2,2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,Western Europe,0.03328,2.49204
3,3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,Western Europe,0.03880,2.46531
4,4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,North America,0.03553,2.45176

In [21]:
happydata_2015.columns

Index(['Unnamed: 0', 'country', 'happiness_rank', 'happiness_score',
       'gdp_per_capita', 'social_support', 'life_expectancy', 'freedom',
       'perception_of_corruption', 'generosity', 'region', 'standard_error',
       'dystopia_residual'],
      dtype='object')

In [22]:
country_df = happydata_2015[['country', 'region']].copy()

In [23]:
country_df.head()

       country          region
0  Switzerland  Western Europe
1      Iceland  Western Europe
2      Denmark  Western Europe
3       Norway  Western Europe
4       Canada   North America

In [24]:
folder_path = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 4\project_2\data\raw data"

# Save the pivoted data to separate files in the specified folder
country_df.to_csv(folder_path + '\\country_region.csv')